* {
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
}

h1 {
    font-family: 'Henny Penny', cursive;
    font-size: 80px;
    font-weight: 300px;
    display: flex;
    justify-content: center;
}

body {
    margin: 0;
}


.gridparent {
    display: grid;
    grid-template-columns: 1, 1fr;
}

img {
    max-width: 650px;
}

.plant {
    display: flex;
    justify-content: flex-start;
    background-color: #d5d5d5;
    padding-top: 20px;
    min-height: 212.24px;
}

.pot {
    background-color: #d5d5d5;
    padding-bottom: 20px;
    min-height: 212.24px;

}

.quote {
    display: flex;
    justify-content: center;
    background-color: #d5d5d5;
    font-family: 'Dosis', sans-serif;
    font-size: xx-large;
    font-weight: bold;
    padding-bottom: 25px;
}



.check {
    fill: #555555;
    max-height: 125px;
    padding-right: 40px
}

.check :hover {
    position: relative;
    transition: all .3s;
    fill: black;
}

footer {
    display: flex;
    justify-content: end;
}